* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: brown;
}

#difficultySelect {
    font-size: 18px;
    color:rgb(2, 9, 64);
    margin-left: 20px;
}

label {
    color:brown;
    font-size: 25px;
    margin-left: 20px;
}

#restartButton {
    margin-left: 50px;
    background-color: blueviolet;
    color: azure;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.block_info {
    color:brown;
    font-size: 25px;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: gray;
}

td img {
    width: 45px;
}